.shiny-input-container:not(.shiny-input-container-inline) {
  width: auto;
}

.control-label, .form-input > label {
  font-weight: bolder;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-container > div:not(.tab-content), .page-container > nav {
  flex: 0 0 auto;
}

.page-container > div.tab-content {
  flex: 1 0 auto;
}

.mainnav {
  padding: 0 1rem;
}

.mainnav .nav-item a {
  padding: 1rem;
}

.navpage .nav-item a.active, .navpage .nav-item a:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 10h22M4 20h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='1' d='M8 8L22 22 M22 8L8 22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 10h22M4 20h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='1' d='M8 8L22 22 M22 8L8 22'/%3E%3C/svg%3E");
}

.searchbox input {
  flex-grow: 1;
  width: 12rem;
}

.searchbox input::-ms-clear {
  /* We obviously need a fix for MS */
  display: none;
}

.alert-icon {
  padding-left: 2.75rem;
}

.alert-icon i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.btn-pill {
  padding: .3rem .6rem;
  font-size: .7rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 1rem;
  margin-right: .3rem;
}

.form-clear {
  position: absolute;
  z-index: 10;
  margin: .375rem;
  padding: .8rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='1' d='M8 8L22 22 M22 8L8 22'/%3E%3C/svg%3E");
}

.form-clear-sm {
  margin: .25rem;
  padding: .7rem;
}

.form-clear-lg {
  margin: .5rem;
  padding: 1rem;
}

#toast-container {
  position: absolute;
  margin: .375rem;
  top: 0;
  right: 0;
  z-index: 9999;
}

#toast-container > .toast {
  min-width: 350px;
}
